html, body {
    height: 100%;
 }
.container {
    height: 100vh;
}

.map-panel {
    height: 100%;
    transition: margin-left .5s;
    margin-left: 21rem;

}
/* https://stackoverflow.com/questions/16543446/how-to-make-leaflet-map-height-variable */
#map { 

    /* height: calc(100% - 20px);  */
    height:99%;
    /* width:auto; */
}

.list-panel {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y:auto;
    position: fixed;
    width: 20rem;
}


.list-section {
    overflow:auto;
}

.theme-section {
    margin-top: auto;
    margin-bottom: 25px;
}

.collapseBtn {
    position: absolute;
    z-index: 999 !important ;
    margin: 10px;
}

.ui-dialog { 
    z-index: 1000 !important ;
}

:root {
    /* https://css-tricks.com/a-complete-guide-to-dark-mode-on-the-web/ */
    /* map dark mode  */
    --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
    color-scheme: light dark; /* both supported */
}

.leaflet-bar button {
    padding: 0;
    line-height:26px;
    font-size:35px
}


@media (prefers-color-scheme: dark) {
    /* Dark theme styles go here */
}

@media (prefers-color-scheme: light) {
/* Light theme styles go here */
}

/* big screen */
@media (min-width: 60rem){
    /* body {
        background-color: rgb(38, 141, 189) !important;
      } */
    
    /* .container {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 20px;
    } */
}

/* small screen */
/* @media (min-width: 40rem) and (max-width: 60rem){ */
@media (max-width: 60rem){
    /* body {
        background-color: rgb(189, 38, 181) !important;
    } */

    /* .container {
        height: 100vh;
    } */
}

